project_structure_extractor/__pycache__/__init__.cpython-39.pyc
project_structure_extractor/__pycache__/core.cpython-39.pyc
venv/*
project_structure_extractor.egg-info/*
build/*
dist/*
project_structure_extractor/__pycache__/*